.title-second {
  float: left;
  font-size: 2em;
  font-weight: 100;
  opacity: .4;
}

.jumbotron {
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}

#header-photo-container{
  height: 25em;
  width: 25em;
}

#header-photo{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 991px){
  #header-photo-container{
    margin: 0 auto;
  }
}
@media (max-width: 672px){
  .web-title-main{
    font-size: 10vw;
  }

  .title-second{
    font-size: 4vw;
  }
}