.container{
  padding-bottom: 3vw;
}

body::-webkit-scrollbar{
  width: 0.5em;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(0, 255, 242);
}

@media (max-width: 672px){
  .web-title-main{
    font-size: 10vw;
  }
}