.nav-link:hover {
  cursor: pointer;
}

#loginBtn{
  background-color: rgb(0, 255, 242);
}

#logoutBtn{
  background-color: rgb(0, 255, 242);
}

li .cursor-pointer:hover{
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse{
    text-align: center;
  }
}

@media (max-width: 440px){
  #nav-title{
    font-size: 4vw;
  }
}